# Asset Pricing 2: Homework 3

### Trent Potter

### Winter 2025

---

In [8]:
import pandas as pd

def load_us_yields():
    # Read the CSV file into a DataFrame
    df = pd.read_csv('us_yields_daily.csv', parse_dates=['date'])

    # Filter dates after January 1, 1978
    df = df[df['date'] > '1978-01-01']

    # Set 'Date' as the index
    df.set_index('date', inplace=True)

    # Resample to monthly yield numbers by taking the mean
    df = df.resample('ME').last()

    # Drop monthly and 30Y yields
    df = df.drop(columns=['US1M','US3M','US6M', 'US30Y'])

    # Rename columns to extract maturity in years
    df.columns = [int(col.replace('US', '').replace('Y', '')) for col in df.columns]

    # Define desired maturities
    desired_maturities = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    # Reindex to include missing maturities
    df = df.reindex(columns=desired_maturities)

    # Interpolate missing yields linearly
    df = df.interpolate(axis=1).round(2)

    # Rename columns back to original format
    df.columns = [f'US{year}Y' for year in df.columns]
    return df

df = load_us_yields()
df

            US1Y  US2Y  US3Y  US4Y  US5Y  US6Y  US7Y  US8Y  US9Y  US10Y
date
1978-01-31  7.26  7.47  7.57  7.64  7.72  7.78  7.83  7.87  7.90   7.94
1978-02-28  7.32  7.57  7.70  7.78  7.86  7.90  7.95  7.98  8.01   8.04
1978-03-31  7.48  7.70  7.83  7.90  7.97  8.01  8.05  8.08  8.12   8.15
1978-04-30  7.70  7.97  7.98  8.04  8.09  8.12  8.16  8.19  8.21   8.24
1978-05-31  7.94  8.12  8.20  8.24  8.28  8.32  8.35  8.37  8.40   8.42
...          ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
2024-02-29  5.01  4.64  4.43  4.34  4.26  4.27  4.28  4.27  4.26   4.25
2024-03-31  5.03  4.59  4.40  4.30  4.21  4.20  4.20  4.20  4.20   4.20
2024-04-30  5.25  5.04  4.87  4.80  4.72  4.72  4.71  4.70  4.70   4.69
2024-05-31  5.18  4.89  4.69  4.61  4.52  4.52  4.52  4.52  4.51   4.51
2024-06-30  5.10  4.70  4.45  4.36  4.26  4.26  4.25  4.25  4.25   4.25

[558 rows x 10 columns]